/* About.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: calc(100vh - 120px); /* Adjusted max height for smaller screens */
  box-sizing: border-box;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.topBarLogo {
  max-width: 50px;
  margin-right: 10px;
}

.topBarText {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.viscadiaLogoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.viscadiaLogo {
  max-width: 150px;
}

.headerActions {
  display: flex;
  align-items: center;
}

.welcomeText {
  text-align: center;
  margin: 20px 0; /* Adjusted margin for spacing */
}

.preparedLine {
  font-size: 0.8rem;
  font-style: italic;
  color: #333; /* Dark text color */
  display: block; /* Ensure block display for the line */
}

.sectionsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure full width */
  margin-top: 20px; /* Adjusted margin to separate from the lines */
}

.leftSection {
  width: 30%; /* Adjusted width for left section */
}

.rightSection {
  width: 65%; /* Adjusted width for right section */
}

.userIconContainer {
  text-align: center; /* Center align the user icon */
  margin-bottom: 10px; /* Adjusted margin */
}

.userIcon {
  font-size: 120px; /* Adjusted icon size */
}



.icon {
  width: 50px; /* Adjusted icon size */
  height: 50px;
}

.buttonText {
  margin-top: 10px; /* Adjusted margin to separate icon and text */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #AA0000;
  color: white;
}

.footerLogo {
  max-width: 200px; /* Increase the size of the logo */
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .sectionsContainer {
    flex-direction: column; /* Stack sections on smaller screens */
    align-items: center; /* Center align sections */
  }

  .leftSection, .rightSection {
    width: 100%; /* Full width for both sections on smaller screens */
  }

  .buttonGrid {
    grid-template-columns: repeat(2, 1fr); /* Two columns in grid on smaller screens */
  }
}
